<ion-header no-border class="header-shadow">
  <ion-navbar color="white">
    <ion-title>
      <div class="avatar-title">
        <img class="rounded thumb-xs"
             [src]="friend.photoUrl ? friend.photoUrl : 'assets/img/sin-foto.png'">
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content #content padding>
  <div *ngFor="let message of messages; let i = index" class="message"
       [ngClass]="{'received': message.idRemitente === friend.id, 'sent': message.idRemitente !== friend.id}">
    {{message.mensaje}}
    <span class="metadata">
      <span class="time">{{message.timestamp?.seconds ? (message.timestamp.seconds | hourMinute) : '' }}</span>
    </span>
  </div>

</ion-content>

<ion-footer no-border [keyboardAttach]="content">
  <ion-toolbar class="has-elastic-input giphy-input" *ngIf="!showGiphy">
    <ion-textarea fz-elastic [(ngModel)]="typingMessage" placeholder="Escribir mensaje"></ion-textarea>
    <ion-buttons right class="stick-bottom button-submit">
      <button type="submit" [disabled]="typingMessage.length == 0" ion-button small color="dark"
              (tap)="sendText(typingMessage)">
        Enviar
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
