page-welcome {
  ion-content {
    background-color: #0d89c5;
  }

  .avatar {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 100px;
    width: 100px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 100px;
    background-size: 100% auto;
    margin: 3px;
  }

  h3 {
    font-size: 12px;
    margin-top: 30px;
    text-align: center;
  }
  h3.linea {
    position: relative;
    z-index: 1;
  }
  h3.linea:before {
    border-top: 1px solid #0f0f0f;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
  }
  h3.linea span {
    background: #fff;
    padding: 0 15px;
  }

  .mx-30 {
    padding: 10px 10px;
  }


}
