page-welcome {
  ion-content {
    background-color: #0d89c5;
  }

  .avatar {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 160px;
    width: 160px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 150px;
    background-size: 100% auto;
    margin: 3px;
  }

  .mx-30 {
    padding: 10px 10px;
  }


}
