<ion-header>

  <ion-navbar hideBackButton>

    <ion-buttons left start>
      <button ion-button icon-only (click)="goToMe()">
        <ion-icon name="md-person" color="muted"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      <img src="../../assets/img/se_feliz.png" width="64" alt="">
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="goToMessaging()">
        <ion-icon name="ios-chatbubbles" color="muted"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <h2 text-center class="color-violet">Bienvenido {{user.nombre }}</h2>
  <ion-grid>

    <ion-row class="m-t-md">
      <ion-col col-6 class="text-center" *ngIf="user.tipoUsuario === 'terapeutas'">
        <ion-card (click)="goToListOfRequest()">
          <img src="../../assets/img/inner-circle.svg" class="img-button"/>
          <ion-card-content>
            <h3>Solicitudes de paciente</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-6 class="text-center" *ngIf="user.tipoUsuario === 'usuarios'">
        <ion-card (click)="goToExplore()">
          <img src="../../assets/img/smile.svg" class="img-button"/>
          <ion-card-content>
            <h3>Encuentra a tu teraputa</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-6 class="text-center">
        <ion-card (click)="goToTracking()">
          <img src="../../assets/img/chart.svg" class="img-button"/>
          <ion-card-content>
            <h3>Identificación y seguimiento</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

    <ion-row class="m-t-xl">
      <ion-col col-6 class="text-center">
        <ion-card>
          <img src="../../assets/img/relax.svg" class="img-button"/>
          <ion-card-content>
            <h3>Relajación, objetivos y habitos</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-6 class="text-center">
        <ion-card>
          <img src="../../assets/img/medal.svg" class="img-button"/>
          <ion-card-content>
            <h3>Mira tus avances</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
